.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    
    .header-left {
        cursor: pointer;
        
        .logo {
            margin: 0;
            font-size: 24px;
            font-weight: 700;
            color: #1976d2;
            transition: color 0.2s;
            
            &:hover {
                color: #1565c0;
            }
        }
    }

    .header-right {
        display: flex;
        gap: 1rem;

        p {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

}